body {
    background-color: #f8f9fa;
    transition: background-color 1s ease; /* Smooth transition for background color change */
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.card {
    border-radius: 15px;
}

.card-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.form-group label {
    font-weight: bold;
}

.table-responsive {
    margin-top: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}
